.albummarketcontainer {
    width: 100%;
    height: 50%;
    color: #FFFFFF;
}



.songscontainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}


.insidecontainer {
    gap: 11px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 307px;
}


.holder {
    width: 200px;
    height: 268px;
    /*background-color: #211F27;*/
    background: linear-gradient(156.67deg, rgba(112, 112, 114, 0.4) 0.07%, rgba(100, 97, 113, 0.148) 99.07%);
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}


.salecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}


.imagecontainer {
    background: linear-gradient(132.49deg, rgba(240, 235, 234, 0.25) 5.69%, rgba(255, 255, 255, 0.25) 5.69%, rgba(240, 235, 234, 0.24) 86.04%);
    /*backdrop-filter: blur(40px); note*/
    border-radius: 24px;
    padding: 10px;
}


.imagecontainer img {
    width: 64%;
    height: auto;
    border-radius: 10px;
}


.infocontainer {
    padding: 0px;
    color: #FFFFFF;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.otherinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    gap: 7px;
    width: 100%;
    margin-top: 9px;
}


.date {
    display: flex;
    justify-content: space-between;
    width: 87%;
}


.price {
    display: flex;
    width: 99%;
    padding-left: 9px;
    justify-content: space-between
}


.pricecontain {
    background: #18181C;
    box-shadow: 4px 4px 20px -10px rgb(0 0 0 / 10%);
    border-radius: 12px;
    width: 73px;
    height: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
}



.buyborder {
    border-width: 2px;
    background: transparent;
    border-color: #FFFFFF;
    border: 1px solid;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border-radius: 20px;
}


.buyborder:hover {
    border-color: transparent;
    background: #3749E9;;
}


.icon {
    margin-right: 7px;
    font-size: 14px !important;
}



/*

@media screen and (max-width: 540px) {



    .insidecontainer {
        gap: 11px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: 266px;
    }
    

    

    .holder {
        width: 101px;
        height: 160px;
        background-color: #211F27;
        border-radius: 10px;
        padding: 15px;
        font-size: 12px;
    }




    .salecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }




    .otherinfo {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        gap: 7px;
        width: 100%;
        margin-top: 9px;
        align-items: center;
    }




    .price {
        display: flex;
        width: 82px;
        justify-content: space-between;
    }




    .pricecontain {
        background: #18181C;
        box-shadow: 4px 4px 20px -10px rgb(0 0 0 / 10%);
        border-radius: 12px;
        width: 56px;
        height: 19px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 8px;
        padding: 2px;
    }
    

}
*/