.albummarketcontainer {
    width: 100%;
    height: 50%;
    color: #FFFFFF;
}



.songscontainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}


.insidecontainer {
    gap: 11px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 266px;
}


.holder {
    width: 140px;
    background-color: #211F27;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
}


.salecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}


.imagecontainer {
    background: linear-gradient(132.49deg, rgba(240, 235, 234, 0.25) 5.69%, rgba(255, 255, 255, 0.25) 5.69%, rgba(240, 235, 234, 0.24) 86.04%);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 10px;
}


.imagecontainer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.infocontainer {
    padding: 0px;
    color: #FFFFFF;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.otherinfo {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 7px;
    width: 70%;
    /* padding: 4px; */
    margin-top: 9px;
}


.date {
    display: flex;
    justify-content: space-between;
}


.price {
    display: flex;
    width: 100px;
    justify-content: space-between;
}


.pricecontain {
    background: #18181C;
    box-shadow: 4px 4px 20px -10px rgb(0 0 0 / 10%);
    border-radius: 12px;
    width: 73px;
    height: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
}



@media screen and (max-width: 540px) {



    .insidecontainer {
        gap: 11px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0px;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: 266px;
    }
    

    

    .holder {
        width: 101px;
        height: 160px;
        background-color: #211F27;
        border-radius: 10px;
        padding: 15px;
        font-size: 12px;
    }




    .salecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }




    .otherinfo {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        gap: 2px;
        width: 70%;
        /* padding: 4px; */
        margin-top: 9px;
    }




    .price {
        display: flex;
        width: 82px;
        justify-content: space-between;
    }




    .pricecontain {
        background: #18181C;
        box-shadow: 4px 4px 20px -10px rgb(0 0 0 / 10%);
        border-radius: 12px;
        width: 56px;
        height: 19px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 8px;
        padding: 2px;
    }
    

}