@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Inter:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&family=Sora:wght@500&family=Space+Grotesk:wght@500&display=swap');

.container {
  padding: 0 2rem;
  color: #E6E8EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}


.firstlayercontainer {
  color: #E6E8EC;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Inter', sans-serif;
  z-index: 1;
}

.secondlayercontainer {
  margin-bottom: 25px;
  width: 70%;
}


.illustrationcontain {
  width: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustrationcontain img {
  width: 100%;
  height: auto;
}

.icon {
  font-size: 1.1rem !important;
}



.welcomecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 49px;
  /*margin-left: 200px;*/
  width: 55%;
}

.welcomecontainer h1 {
  font-size: 53px;
  margin: 0;
  padding: 0;
}

.welcomecontainer button {
  background-color: #2C2D31;
  border: none;
  outline: none;
  width: 122px;
  height: 42px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #E6E8EC;
}


.img {
  width: 100%;
  height: auto;
}

.overlay {
  display: none;
}





@media screen and (max-width: 934px ) {
  .illustrationcontain{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 50%;
    width: 50%;
    z-index: -1;
  }


  .illustrationcontain .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:  rgb(16,16,18, 354.7);
  }


  .illustrationcontain img {
    width: 100%;
    height: auto;
  }





  .welcomecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 49px;
    /*margin-left: 200px;*/
    width: 55%;
    margin-top: 212px;
  }






}



@media screen and (max-width: 700px ) {

  .welcomecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 49px;
    /*margin-left: 200px;*/
    width: 74%;
  }
  

}






@media screen and (max-width: 557px ) {

  .welcomecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 49px;
    /*margin-left: 200px;*/
    width: 100%;
  }
  

}




@media screen and (max-width: 557px ) {


  .welcomecontainer h1 {
    font-size: 37px;
    margin: 0;
    padding: 0;
  }


  .secondlayercontainer {
    margin-bottom: 25px;
    width: 100%;
    margin-top: 35px;
  }
  
  
  

}