.container {
    background: #18181C;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 300px;
    color: #FFFFFF;
    padding-top: 188px;
}





.secondcontainer {

}




.iconscontains {

    width: 24px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;

}



@media screen and (max-width: 531px) {

    .iconscontains {
        width: 24px;
        height: 212px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 45px;
    } 

 
    .iconscontains .icons {
        font-size: 1.2rem !important;
    }

    
}