.container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* background: #18181C; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 51px;
    color: #FFFFFF;
    display: flex;
    z-index: 99999;
}